* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.contact-card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 500px;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #555;
}

input, textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 15px;
    font-size: 1rem;
}

textarea {
    height: 70px;
    resize: vertical;
}

button {
    width: 100%;
    padding: 1rem;
    background-color: #277c2a;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #38813c;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #4ad44f;
    box-shadow: 0 0 5px rgba(46, 150, 50, 0.2);
}
